/* Common/Global Style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

hr {
    border-color: rgba(19, 19, 24, 0.10);
    ;

}

main {
    /* max-width: 992px; */
    max-width: 1170px;
    margin: auto;
}


.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}






/* Header Style */
header {
    /* max-width: 992px; */
    max-width: 1170px;
    margin: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name-container img {
    max-width: 60px;
}

.name-container h2 {
    color: #131318;
    font-size: 2.1rem;
    font-weight: 800;
}

.colored {
    color: #FF5400;
    font-size: 2.1rem;
    font-weight: 800;
}

.link-container ul {
    display: flex;
}

.link-container ul li {
    list-style: none;
    margin: 20px;

}

.link-container ul li:hover a {
    color: #FF5400;
}


.link-container ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
}

.link-container .colored-home {
    cursor: pointer;
    font-weight: 700;
    color: #FF5400;
}

.bar {
    display: none;
}


/* Banner Section */

.banner {
    max-width: 1170px;
    height: 500px;
    margin: 20px auto;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.336) 10%, rgba(95, 95, 95, 0.263) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container {
    max-width: 800px;
    margin: auto;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-description {
    max-width: 80%;
    margin: 24px auto;
    color: #FFF;
    text-align: center;
    line-height: 26px;
}

.find-section {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 15px;
}

form {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.find-section form input,
.option {
    border-radius: 8px;
    border: none;
    padding: 10px;
    width: 174px;
    height: 52px;

}

.fa-magnifying-glass {
    margin-right: 20px;
}





/* Main- popular-tour-section Style */
.popular-tour-section {
    margin: 100px 0;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;

}

.popular-tour-content {
    width: 40%;

}

.tour-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-tour-content p {
    margin: 24px 50px 24px 0;
    color: rgba(19, 19, 24, 0.70);
    line-height: 15px;
    text-align: justify;
}

.popular-tour-content ul {
    margin-left: 30px;
}

.popular-tour-content ul li {
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    margin-bottom: 10px;
    text-align: justify;
}

.popular-tour-img {
    width: 55%;
}

.popular-tour-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.popular-tour-img video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* padding: 10px 0; */
    border-radius: 10px;
}

/* ----------------------------------------- */


/* ------------------------------------------- */



/* Main/destination-section Style */
.destination-section {
    width: 100%;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-description {
    max-width: 643px;
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    margin: 24px auto 48px auto;
}





.destination-img-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 100px;
}


/* .item {
    max-height: 300px;
} */
.item1 {
    background-size: cover;
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    position: relative;
}

.destination-img-container .item img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.place-name {
    width: 100%;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 800;
    position: absolute;
    top: 45%;
    z-index: 1;
    text-align: center;
    margin: auto;
}

.item2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    position: relative;
}

.item3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    position: relative;
}

.item4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
    position: relative;
}

.item5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
    position: relative;
}

.item6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
    position: relative;
}

.item7 {
    grid-column: 6/span 7;
    grid-row: 3/span 1;
    position: relative;
}

/* Choose Us Style */
.choose-us-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;

}

.choose-us-description {
    max-width: 650px;
    margin: 24px auto;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    line-height: 26px;
}

.item-container {
    margin-top: 26px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.handpicked,
.service,
.guarantee {
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(251, 181, 99, 0.20);

}

.handpicked {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    background: rgba(251, 181, 99, 0.05);
}

.service {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    background: rgba(41, 206, 246, 0.05);
}

.guarantee {
    grid-column: 4/span 6;
    grid-row: 2/span 1;
    background: rgba(233, 68, 68, 0.05);
}